body {
	display: block;
	font: 16px consolas, sans-serif;
}

textarea {
	font: 16px consolas, sans-serif;
	float: left;
	height: 560px;
	width: 50%;
}

iframe {
	width: 48%;
	height: 560px;
	float: right;
}

h2 {
	text-align: center;
	font: bold 20px consolas;
}

input[type="button"] {
	margin-top: 10px;
	font-size: 16px;
	float: right;
	width: 200px;
	color: #fff;
	z-index: 5;
	background-color: blue;
}
